
*{
	padding: 0px;
	margin: 0px;
}


/***********************cabecera de pag*************************/
.head{
	width: 100%;
	height: 50px;
	background: red;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.head_logo{
	width: 10%;
}
.head_titulo{
	width: 80%;
}
.head_login{
	width: 10%;
}
.head_login a{
	cursor: pointer;
}
.head_login a:hover{
	color: white;
}
/****************seccion de proyectos*****************/
.proyectos{
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.proyectos_panel{
	background: grey;
	width: 90%;
	height: 90%;
	border-radius: 10px;
	border: 1px solid black;
}

.proyectos_panel_tipo{
	background: red;
	width: 100%;
	height: 50px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/*******************seccion de noticias****************************/
.noticias{
	background: red;
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.noticias_panel{
	width: 95%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.noticias_panel_carrusel{
	width: 100%;
	height: 90%;
}

.noticias_panel_vinculos{
	width: 100%;
	height: 10%;
	background: darkred;
	display: flex;
	align-items: center;
}

.noticias_panel_vinculos a{
	margin-left: 10px;
	color: white;
}

.noticias_redes{
	width: 5%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: darkred;
}

.noticias_redes input[type=image]{
	width: 70%;
	height: auto;
	border: 1px solid black;
	border-radius: 10px;
	margin: 5%;
	filter: brightness(90%);
}

.noticias_redes input[type=image]:hover{
	width: 80%;
	height: auto;
	border: 2px solid black;
	border-radius: 10px;
	margin: 5%;
	filter: brightness(120%);
}
.vinculo{
	margin-left: 10px;
	text-decoration: none;
}

.vinculo:hover{
	color: grey;
}
/************************el pie de pag*******************************/
.footer{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
}
.footer a{
	margin-left: 10px;
}

/*********************** Login Ventana********************************/

dialog[open] {
  position: fixed; 
  background-color: white;
  margin: auto; /* Centrada */
  padding: 20px;
}
#ventanaLogin::backdrop{
	background-color: rgba(0, 0, 0, .50);
}

.login{
  width: 300px;
  height: 300px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login_cerrar{
width: 95%;
height: 10%;
background-color: white;
display: flex;
align-items: center;
border: 1px solid black;
border-bottom: none;
}


.login_cerrar [type=button]{
  margin-left: auto;
  margin-right: 5px;
  width: 10%;
}

.login_caja{
width: 95%;
height: 85%;
background-color: white;
justify-content: center;
display: flex;
flex-direction: column;
text-align: center;
border: 1px solid black;
border-top: none;
border-bottom: none;
}
.login_registrar{
width: 95%;
height: 10%;
background-color: white;
display: flex;
align-items: center;
border: 1px solid black;
border-top: none;
}
#form input{

  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: 15%;
}
.login [type=button]{
  background-color: lightgrey;
  border: 1px solid black;
}
.login [type=button]:hover{
  background-color: red;
  border: 2px solid black;
  cursor: pointer;
  color: white;
}
/**********************************************************/
