*{
	padding: 0px;
	margin: 0px;
}
/*********************** cabecera de pagina *************************/
.head{
	width: 100%;
	height: 50px;
	background: #aa1916;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #eeeeee;
}
.head_logo{
	width: 10%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.head_logo img{
	width: auto;
	height: 90%;
}
.head_titulo{
	width: 80%;
	font-size: 12px;
}
.head_login{
	width: 10%;
}
.head_login a{
	cursor: pointer;
	font-size: 12px;
}
.head_login a:hover{
	color: white;
	text-decoration: underline;
}
#titulo{
		cursor: pointer;
}
/******************* noticias *************************/
.noticias{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.noticias_panel{
	background: transparent;
	width: 90%;
	height: 90%;
	border-radius: 10px;
	max-width: 1280px;
	min-width: 400px;
}

.noticias_panel_titulo{
	background:  #aa1916;
	width: 100%;
	height: 50px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.noticias_panel_titulo{
	color: #eeeeee;
	font-size: 12px;
}
/************************* noticias individuales ***********************/
.noticia{
	width: 100%;
	height: auto;
	background-color: #cbcbcb;
	display: flex;
	border-radius: 10px;
	border: 1px solid grey;
}
.noticia_panel_imagen{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.noticia_imagen{
	width: auto;
	height: 90%;
	max-width: 90%;
	max-height: 150px;
	cursor: pointer;
	border-radius: 10px;
}
.noticia_datos{
	width: 80%;
	height: 180px;
}
.noticia_contenedor_titulo{
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.noticia_titulo{
	width:92%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 8px;
}
.noticia_titulo_botones{
	width: 8%;
	height: 100%;
	right: 0px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}
.noticia_titulo_botones input[type=image]{
	width: auto;
	height: 60%;
	border-radius: 5px;
	filter: opacity(80%);
}
.noticia_titulo_botones input[type=image]:hover{
	background-color: #cbcbcb;
	filter: opacity(100%);
}
.noticia_descripcion{
	width: 100%;
	height: 0%;
	font-size: 14px;
}
.negrilla{
	font-weight: bolder;
}
.noticia_enlace a{
	text-decoration: underline;	
	font-weight: bolder;
	color: black;
	font-weight: normal;
	font-size: 12px;
}

.noticia_enlace a:hover{
	color: blue;
}

/******************* estilos imagen aumentada *****************/
dialog[open] {
  position: fixed; 
  background-color: white;
  margin: auto; /* Centrada */
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
dialog::backdrop{
  background-color: rgba(0, 0, 0, .70);
}
.formulario_div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.formulario_div h1{
	margin-top: 10px;
}
.formulario_div span{
	width: 90%;
}
.formulario_div input{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #a7a7a7;
  outline: none;
  width: 90%;
}
.formulario_div input[type=text]{
	width: 90%;
}
.formulario_div textarea{
	margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
  height: 100px;
 	resize: none;
  border: none;
  border-bottom: 1px solid #a7a7a7;
  outline: none;
  width: 90%; 
}
.formulario_div textarea::placeholder {
  font-size: 14px;
}
.formulario_div select{
	margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
  height: 40px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #a7a7a7;
  outline: none; 
  width: 90%;
}
.formulario_cerrar [type=button]{
	top: 5px;
  right: 10px;
  width: 5%;
  background-color: white;
  border: none;
  position: absolute;
  color: grey;
}
.formulario_cerrar [type=button]:hover{
  cursor: pointer;
  color: black;
}
/************************* imagen aumentada ***********/
.imagen_aumentada_div{
	width: auto;
	height: 90vh;
}
.imagen_aumentada_div img{
	width: auto;
	height: 100%;
}
.imagen_aumentada_div [type=button]{
  right: 10px;
  width: 5%;
  background-color: white;
  border: none;
  cursor: pointer;
  position: absolute;
}
/*************** ventana de notificacion ************/
#notificaciones_div{
	width: 400px;
	height: 200px;
}
#notificaciones_texto{
	font-weight: normal;
}
#notificaciones_div_cerrar{
	width: 150px;
}
/*************** ventana de modificar noticia ************/
#modificar_noticia_div{
	width: 400px;
  height: 500px;
}
/************************ el pie de pagina *******************************/
.footer{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	font-size: 12px;
}
.footer a{
	margin-left: 10px;
}
/**************** estios boton *******************/
.boton{
color: #eeeeee;
background-color: darkred;
border-radius: none;
border: none;
border-color: none;
height: 30px;
margin: 5px;
font-size: 20px;
}
.boton:hover{
background-color: #C30000FF;
cursor: pointer;
}

/*************** diseno responsivo***************************/

/* Estilos para pantallas medianas */
@media (max-width: 1100px) {
	.head{
		font-size: 12px;
	}
	}
	/* Estilos para pantallas pequeñas */
	@media (max-width: 600px) {
	.head{
		font-size: 12px;
	}
	.head_login input[type=button]{
		font-size: 12px;
	}

	#notificaciones_div{
		width: 95%;
	}
	
	#notificaciones_div_cerrar{
		width: 95%;
	}
	.noticia_datos{
		font-size: 12px;
	}
	.noticia_titulo{
		font-size: 6px;
	}
	}
@media (max-width: 1000px) {
	.noticia_datos{
	height: 200px;
}
}
@media (max-width: 800px) {
	.noticia_datos{
	height: 220px;
}
}
@media (max-width: 700px) {
	.noticia_datos{
	height: 230px;
}
}
@media (max-width: 600px) {
	.noticia_datos{
	height: 250px;
}
}
@media (max-width: 500px) {
	.noticia_datos{
	height: 270px;
}
}
	/* Estilos para pantallas pequeñas */
	@media (max-width: 400px) {
	.head{
		font-size: 8px;
	}
	.head_login input[type=button]{
		font-size: 6px;
	}
	.head_logo img{
		width: auto;
		height: 50%;
	}
	.noticia{
		height: 300px;
		display: flex;
		flex-direction: column;
	}
	.noticias_panel_titulo{
		font-size: 12px;
	}
	.noticia_datos{
		width: 98%;
		font-size: 12px;
		margin-left: 1%;
		margin-right: 1%;
	}
	.noticia_titulo{
		font-size: 6px;
	}
	.noticia_titulo_botones{
		width: 8%;
		height: 50%;
	}
	.noticia_imagen{
		display: none;
		width: 100%;
	}
	.footer a{
		font-size: small;
	}
	}