
*{
	padding: 0px;
	margin: 0px;
font-family: "Constantia", serif;
}


/*********************** cabecera de pagina *************************/
.head{
	width: 100%;
	height: 50px;
	background: #aa1916;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #eeeeee;
}
.head_logo{
	width: 10%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.head_logo img{
	width: auto;
	height: 90%;
}
.head_titulo{
	width: 80%;
}
.head_login{
	width: 10%;

}
.head_login input[type=button]{
	cursor: pointer;
	background-color: transparent;
	color: #e8e8e8;
	border-radius: 5px;
	border: none;
	border-color: none;
	height: 30px;
	margin: 5px;
	font-size: 20px;
	width: 80%;
}
.head_login input[type=button]:hover{
	color: white;
	background-color: darkred;
}
/**************** seccion de proyectos *****************/
.proyectos{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.proyectos_panel{
	background: #e8e8e8;
	width: 90%;
	height: 90%;
	border-radius: 10px;
	border: 1px solid #cbcbcb;
	max-width: 1280px;
}

.proyectos_panel_titulo{
	background:  #aa1916;
	width: 100%;
	height: 50px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
#agregar_proyecto{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	margin-left: auto;
}

.filtros{
	width: 100%;
	background-color: #cbcbcb;
	display: flex;
	align-items: center;
}
.filtros div{
	display: flex;
	align-items: center;
	height: 50px;
	width: auto;
	margin-left: 5px;
	margin-right: 5px;
}
.filtros input[type=image]{
width: 20px;
height: 20px;
border-radius: 5px;
}
.filtros input[type=image]:hover{
background-color: #a7a7a7;
}
.filtros a{
	margin-left: 10px;
}
#filtrar_por{
	margin-left: 20px;
}
.filtros_select {
  height: 30px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #a7a7a7;
  outline: none; 
  width: 120px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
#filtrar{
	width: 100px;
}
#carga_proyectos{
	width: 100%;
	height: auto;

}
/********************** proyectos individuales *********************/
.proyecto{
	width: 100%;
	height: 200px;
	display: flex;
	border-bottom: 1px solid grey;
}
.proyecto_panel_imagen{
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.proyecto_imagen{
	max-width: 90%;
	height: 90%;
	cursor: pointer;
	border-radius: 10px;
}
.proyecto_datos{
	width: 70%;
}
.proyecto_contenedor_titulo{
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.proyecto_titulo{
	width:92%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 8px;
}
.proyecto_titulo_botones{
	width: 8%;
	height: 100%;
	right: 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.proyecto_titulo_botones input[type=image]{
	width: auto;
	height: 60%;
	border-radius: 5px;
	filter: opacity(80%);
	margin-right: 0px;
}
.proyecto_titulo_botones input[type=image]:hover{
	background-color: #cbcbcb;
	filter: opacity(100%);
}
.proyecto_descripcion{
	width: 100%;
}
.negrilla{
	font-weight: bolder;
}
.proyecto_enlace{
	width: 100%;
	height: 10%;
}

.proyecto_enlace a{
	margin-left: 10px;
	text-decoration: none;
	color: black;
	font-weight: bolder;
}

.proyecto_enlace a:hover{
	color: grey;
}




/*********************************************************************/
.paginacion{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color:#cbcbcb;
}
#pagina_anterior{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-right: 1px;
	margin-top: 0px;
	width: 150px;
}
#pagina_anterior:disabled{
opacity: 0.5;
cursor: default;
}
#pagina_actual{
	margin: 0px;
	width: 30px;
	cursor: default;
}
#pagina_siguiente{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-left: 1px;
	margin-top: 0px;
	width: 150px;
}
#pagina_siguiente:disabled{
opacity: 0.5;
cursor: default;
}
/******************* seccion de noticias ****************************/
.noticias{
	background: #b43432;
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.noticias_panel{
	width: 95%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.noticias_panel_titulo{
text-align: center;
border-bottom: 1px solid #eeeeee;
}


/******** carrusel de ultimas nooticias *****************/
.noticias_panel_carrusel{
	width: 100%;
	height: 75%;
	display: flex;
}

.UNoticia{
	width: 18%;
	height: 90%;
	margin: 1%;
	background-color: darkred;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}
.UNoticia:hover{
	background-color: #AA0000FF;
}
.UNoticia_fecha{
	width: 100%;
	height: 10%;
	background-color: #4B0000FF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.UNoticia_titulo {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.UNoticia_titulo a{
	text-decoration: none;
	color: white;
}
.UNoticia_titulo a:hover{
	text-decoration: none;
	color:grey;
}

.UNoticia_imagen {
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.UNoticia_imagen img{
	max-width: 100%;
	width: auto;
	height: 100%;
	cursor: pointer;
}
/*************************************************/
.boton{
color: #eeeeee;
background-color: darkred;
border-radius: none;
border: none;
border-color: none;
height: 30px;
margin: 5px;
font-size: 20px;
}
.boton:hover{
background-color: #C30000FF;
cursor: pointer;
}
.noticias_panel_todas{
	margin-left: auto;
}
.noticias_panel_vinculos{
	width: 100%;
	height: 10%;
	background: darkred;
	display: flex;
	align-items: center;
}

.noticias_panel_vinculos a{
	margin-left: 10px;
	color: white;
}

.noticias_redes{
	width: 5%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: darkred;
}

.noticias_redes input[type=image]{
	width: 70%;
	height: auto;
	border-radius: 10px;
	margin: 5%;
	filter: brightness(90%);
}

.noticias_redes input[type=image]:hover{
	width: 80%;
	height: auto;
	border-radius: 10px;
	margin: 5%;
	filter: brightness(120%);
}
.vinculo{
	margin-left: 10px;
	text-decoration: none;
}

.vinculo:hover{
	color: grey;
}
/************************ el pie de pagina *******************************/
.footer{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
}
.footer a{
	margin-left: 10px;
}
/******************* estilos imagen aumentada *****************/

.imagen_aumentada_div{
	width: auto;
	height: 90vh;
}
.imagen_aumentada_div img{
	width: auto;
	height: 100%;
}
.imagen_aumentada_div [type=button]{
  right: 10px;
  width: 5%;
  background-color: white;
  border: none;
  cursor: pointer;
  position: absolute;
}
/*********************** formulario Ventana ********************************/

dialog[open] {
  position: fixed; 
  background-color: white;
  margin: auto; /* Centrada */
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
dialog::backdrop{
  background-color: rgba(0, 0, 0, .70);
}
.formulario_div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.formulario_div h1{
	margin-top: 10px;
}
.formulario_div span{
	width: 90%;
}
.formulario_div input{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #a7a7a7;
  outline: none;
  width: 90%;
}
.formulario_div input[type=text]{
	width: 90%;
}
.formulario_div textarea{
	margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
  height: 100px;
 	resize: none;
  border: none;
  border-bottom: 1px solid #a7a7a7;
  outline: none;
  width: 90%; 
}
.formulario_div textarea::placeholder {
  font-size: 20px;
}
.formulario_div [type=date] {
color: grey;
}
.formulario_div select{
	margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
  height: 40px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #a7a7a7;
  outline: none; 
  width: 90%;
}
.formulario_cerrar [type=button]{
	top: 5px;
  right: 10px;
  width: 5%;
  background-color: white;
  border: none;
  position: absolute;
  color: grey;
}
.formulario_cerrar [type=button]:hover{
  cursor: pointer;
  color: black;
}

/*************** ventana login ********************/
#formulario_login{
	width: 400px;
  height: 300px;
}
/*************** ventana de notificacion ************/
#notificaciones_div{
	width: 400px;
	height: 200px;
}
#notificaciones_texto{
	font-weight: normal;
}
#notificaciones_div_cerrar{
	width: 150px;
}
/*************** ventana de registrar tipo proyecto ************/
#registrar_tipo_proyecto_div{
	width: 400px;
  height: 360px;
}
/*************** ventana de modificar tipo proyecto ************/
#modificar_tipo_proyecto_div{
	width: 400px;
  height: 360px;
}
/*************** ventana de registrar proyecto ************/
#registrar_proyecto_div{
	width: 400px;
  height: 600px;
}
/*************** ventana de modificar proyecto ************/
#modificar_proyecto_div{
	width: 400px;
  height: 600px;
}
/*************** ventana de registrar noticia ************/
#registrar_noticia_div{
	width: 400px;
  height: 500px;
}


/*************** diseno responsivo***************************/

/* Estilos para pantallas medianas */
@media (max-width: 1100px) {
.head{
	font-size: 12px;
}
.filtros{
	flex-direction: column;
}


.noticias_panel_carrusel{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.UNoticia{
	width: 70%;
}
.noticias{
	height: auto;
	flex-direction: column;
}
.noticias_panel{
	width: 100%;
}
.noticias_redes{
	flex-direction:revert;
	width: 100%;
	height: 70px;
}
.noticias_redes input[type=image]{
	width: auto;
	height: 80%;
}

.noticias_redes input[type=image]:hover{
	width: auto;
	height: 90%;
}
.imagen_aumentada_div{
	width: 100%;
	height: auto;
}
.imagen_aumentada_div img{
	width: 100%;
	height: auto;
}
.proyecto{
	height: 200px;
	font-size: 12px;
}
}
/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
.head{
	font-size: 12px;
}
.head_login input[type=button]{
	font-size: 12px;
}
.proyecto{
	height: 250px;
	font-size: 12px;
}
.proyecto_titulo{
	width:92%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 8px;
}

#formulario_login{
	width: 95%;
}

#notificaciones_div{
	width: 95%;
}

#notificaciones_div_cerrar{
	width: 95%;
}

#registrar_tipo_proyecto_div{
	width: 95%;
}

#modificar_tipo_proyecto_div{
	width: 495%;
}

#registrar_proyecto_div{
	width: 95%;
}

#modificar_proyecto_div{
	width: 95%;
}

#registrar_noticia_div{
	width: 95%;
}
}