
*{
	padding: 0px;
	margin: 0px;
}


/*********************** cabecera de pagina *************************/
.head{
	width: 100%;
	height: 50px;
	background: #aa1916;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #eeeeee;
}
.head_logo{
	width: 10%;
}
.head_titulo{
	width: 80%;
}
.head_login{
	width: 10%;
}
.head_login a{
	cursor: pointer;
}
.head_login a:hover{
	color: white;
}
/**************** seccion de proyectos *****************/
.proyectos{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.proyectos_panel{
	background: #e8e8e8;
	width: 90%;
	height: 90%;
	border-radius: 10px;
	border: 1px solid #cbcbcb;
}

.proyectos_panel_tipo{
	background:  #aa1916;
	width: 100%;
	height: 50px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	align-items: center;
}
.proyectos_panel_tipo .boton{
	background: #cbcbcb;
	color: black;
	border-radius: 10px;
}
.proyectos_panel_tipo .boton:hover{
	background: #e8e8e8;
	color: black;
}
.proyectos_panel_visualizacion .boton{
	border-radius: 10px;
}

/******************* seccion de noticias ****************************/
.noticias{
	background: #b43432;
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.noticias_panel{
	width: 95%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.noticias_panel_titulo{
text-align: center;
color: #eeeeee;
border-bottom: 1px solid #eeeeee;
}
/******** carrusel de ultimas nooticias *****************/
.noticias_panel_carrusel{
	width: 100%;
	height: 75%;
	display: flex;
}

.UNoticia{
	width: 18%;
	height: 90%;
	margin: 1%;
	background-color: darkred;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: darkgrey;
}
.UNoticia:hover{
	background-color: #AA0000FF;
}
.UNoticia_fecha{
	width: 100%;
	height: 10%;
	background-color: #4B0000FF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.UNoticia_titulo {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.UNoticia_titulo h1{
	font-size: 25px;
}

.UNoticia_imagen {
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.UNoticia_imagen img{
	max-width: 100%;
	width: auto;
	height: 100%;
}
/*************************************************/
.boton{
color: #eeeeee;
background-color: darkred;
border-radius: none;
border: none;
border-color: none;
height: 30px;
margin: 5px;
}
.noticias_panel_todas{
	margin-left: auto;
}
.boton:hover{
color: #eeeeee;
background-color: #C30000FF;
cursor: pointer;
}


.noticias_panel_vinculos{
	width: 100%;
	height: 10%;
	background: darkred;
	display: flex;
	align-items: center;
}

.noticias_panel_vinculos a{
	margin-left: 10px;
	color: white;
}

.noticias_redes{
	width: 5%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: darkred;
}

.noticias_redes input[type=image]{
	width: 70%;
	height: auto;
	border-radius: 10px;
	margin: 5%;
	filter: brightness(90%);
}

.noticias_redes input[type=image]:hover{
	width: 80%;
	height: auto;
	border-radius: 10px;
	margin: 5%;
	filter: brightness(120%);
}
.vinculo{
	margin-left: 10px;
	text-decoration: none;
}

.vinculo:hover{
	color: grey;
}
/************************ el pie de pagina *******************************/
.footer{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
}
.footer a{
	margin-left: 10px;
}

/*********************** formulario Ventana ********************************/

dialog[open] {
  position: fixed; 
  background-color: white;
  margin: auto; /* Centrada */
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
dialog::backdrop{
  background-color: rgba(0, 0, 0, .70);
}
.login{
	width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #A7A7A7;
  border-radius: 10px;
}
#modal_formulario iframe{
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #A7A7A7;
  border-radius: 10px;
}
.formRegistrarProyecto{
	width: 500px;
  height: 610px;

}
.formRegistrarNoticia{
	width: 400px;
  height: 500px;
}
.formRegistrarTipoProyecto{
	width: 400px;
  height: 400px;
}
.formulario_cerrar{
width: 100%;
height: 10%;
background-color: white;
display: flex;
align-items: center;
background-color: transparent;
}
.formulario_cerrar [type=button]{
  margin-left: auto;
  margin-right: 5px;
  width: 10%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.formulario_caja{
width: 100%;
height: 85%;
justify-content: center;
display: flex;
flex-direction: column;
text-align: center;
}
#notificacion_login{
	background-color: transparent;
}
.formulario_Tipo{
	 height: 60px;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
}
.formulario_Tipo a{
margin-right: 20px;
}

.formulario_fecha{
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
}
.formulario_fecha a{
margin-right: 20px;
}

.formulario_imagen{
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
}
.formulario_imagen a{
margin-right: 20px;
}
.formulario_caja textarea{
	margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
  height: 100px;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid #a7a7a7;
  outline: none; 
}
.formulario_caja select{
	margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
  height: 40px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #a7a7a7;
  outline: none; 
  width: 80%;
}
.formulario_accion{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}


.formulario_caja [type=button]{
border: none;
border-radius: 10px;
width: 100px;
background: darkred;
color: white;
}
.formulario_caja [type=button]:hover{
cursor: pointer;
background: red;
}
.formulario_caja input{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
  height: 40px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #a7a7a7;
  outline: none;  
}
.formulario_caja h1{
	margin-top: 20px;
  margin-bottom: 20px;
}

/******************* estilos imagen aumentada *****************/

.imagen_aumentada_div{
	width: auto;
	height: 90vh;
}
.imagen_aumentada_div img{
	width: auto;
	height: 100%;
}
.imagen_aumentada_div [type=button]{
  right: 10px;
  width: 5%;
  background-color: white;
  border: none;
  cursor: pointer;
  position: absolute;
}